:root {
    --primaryColor: rgb(19, 123, 205);
    --lightThemeColor: rgb(0, 0, 0);
    --darkThemeColor:  rgb(255, 255, 255);
    --highContrastThemeColor: rgb(255, 0, 0);
    --lightThemeBorder: 0.1rem solid rgba(0, 0, 0, .3);
    --darkThemeBorder: 0.1rem solid rgba(255, 255, 255, .3);
    --highContrastThemeBorder: 0.1rem solid rgba(255, 0, 0, .3);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: monospace;
}

button {
    font-size: 3rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border-radius: 5%;
}

button:hover:enabled,
button:active:enabled {
    border: 0.1rem solid var(--primaryColor);
    cursor: pointer;
}

video {
    max-width: 100%;
}

#tabsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.75rem;
}

#tabCodeToSign, #tabSignToCode {
    display: flex;
    font-size: 2.5rem;
}

#tabCodeToSign i, #tabSignToCode i {
    display: inline-block;
}

#codeToSignArrow, #signToCodeArrow {
    padding: 0 0.85rem;
}

#timeContainer, #categoriesContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    font-size: 2rem;
}

#timeContainer {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.infoTimeToggle {
    cursor: default;
}

#speedContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 16rem;
}

#slower, #faster, .categories {
    font-size: 2rem;
}

#videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#playerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0.75rem 2rem 0.75rem;
}

#playPause {
    font-size: 5.5rem;
}

#actionsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0.75rem 0.75rem 0.75rem;
}

#currentSign {
    font-size: 2.5rem;
    font-weight: bold;
}

#info {
    font-size: 2rem;
    margin-left: 1rem;
}

#tabCodeToSign, #tooltipToggle,
#autoRepeatToggle, #categoryVar {
    background-color: var(--primaryColor);
}

body.vscode-light button {
    color: var(--lightThemeColor);
    border: var(--lightThemeBorder); 
}
body.vscode-dark button {
    color: var(--darkThemeColor);
    border: var(--darkThemeBorder); 
}
body.vscode-high-contrast button {
    color: var(--highContrastThemeColor);
    border: var(--highContrastThemeBorder); 
}

body.vscode-light #tabsContainer { border-bottom: var(--lightThemeBorder); }
body.vscode-dark #tabsContainer { border-bottom: var(--darkThemeBorder); }
body.vscode-high-contrast #tabsContainer { border-bottom: var(--highContrastThemeBorder); }

body.vscode-light #playerContainer { border-bottom: var(--lightThemeBorder); }
body.vscode-dark #playerContainer { border-bottom: var(--darkThemeBorder); }
body.vscode-high-contrast #playerContainer { border-bottom: var(--highContrastThemeBorder); }

body.vscode-light .ui-tooltip,
body.vscode-dark .ui-tooltip,
body.vscode-high-contrast .ui-tooltip {
    background-color: transparent;
    box-shadow: 0 0 0;
}

body.vscode-light .ui-tooltip video { border: var(--lightThemeBorder); }
body.vscode-dark .ui-tooltip video { border: var(--darkThemeBorder); }
body.vscode-high-contrast .ui-tooltip video { border: var(--highContrastThemeBorder); }

body.vscode-light .ui-slider,
body.vscode-dark .ui-slider,
body.vscode-high-contrast .ui-slider {
    background-color: transparent;
}

body.vscode-light .ui-slider { border: var(--lightThemeBorder); }
body.vscode-dark .ui-slider { border: var(--darkThemeBorder); }
body.vscode-high-contrast .ui-slider { border: var(--highContrastThemeBorder); }

body.vscode-light .ui-slider .ui-slider-handle {
    background-color: var(--lightThemeColor);
}
body.vscode-dark .ui-slider .ui-slider-handle {
    background-color: var(--darkThemeColor);
}
body.vscode-high-contrast .ui-slider .ui-slider-handle {
    background-color: var(--highContrastThemeColor);
}

body.vscode-light .ui-slider .ui-slider-pip .ui-slider-pip-selected,
body.vscode-light .ui-slider .ui-slider-pip .ui-slider-pip-selected-initial {
    color: var(--lightThemeColor);
}
body.vscode-dark .ui-slider .ui-slider-pip .ui-slider-pip-selected,
body.vscode-dark .ui-slider .ui-slider-pip .ui-slider-pip-selected-initial {
    color: var(--darkThemeColor);
}
body.vscode-high-contrast .ui-slider .ui-slider-pip .ui-slider-pip-selected,
body.vscode-high-contrast .ui-slider .ui-slider-pip .ui-slider-pip-selected-initial {
    color: var(--highContrastThemeColor);
}

#sliderContainer {
    margin: 1.75rem 0.75rem;
}

#sliderContainer .ui-slider-handle {
    border-radius: 23px;
    height: 23px;
    width: 23px;
    top: -7px;
    margin-left: -11px;
}

#sliderContainer .ui-slider-pip {
    top: 3px;
}

#sliderContainer .ui-slider-pip .ui-slider-line {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    margin-left: -2px;
}

#sliderContainer .ui-slider-pip .ui-slider-pip-selected-initial {
    font-weight: normal;
}

#sliderContainer .ui-slider-pip .ui-slider-pip-selected {
    font-weight: bold;
}