* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: monospace;
}

button {
    font-size: 3rem;
    color: white;
    background-color: transparent;
}

button:hover, button:active {
    color: green;
    cursor: pointer;
}

#videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 20rem;
}

#infoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    font-size: 2rem;
}

#currentSign {
    font-size: 3.5rem;
    font-family: sans-serif;
    font-weight: bold;
}

#playerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

#playPause {
    font-size: 5rem;
}

#autoRepeatIcon {
    color: green;
}