* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: monospace;
}

body {
    background-color: #b3b3b3
}

h1 {
    font-size: 5rem;
}

button {
    font-size: 5rem;
    color: black;
    background-color: transparent;
}

button:hover, button:active {
    color: green;
    cursor: pointer;
}

video {
    border-radius: 0.5rem;
}

#container {
    max-width: 50rem;
    margin: 0 auto;
    border: 0.25rem solid black;
    border-radius: 0.5rem;
}

#videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    border-bottom: 0.25rem solid black;
    background-color: #404040;
}

#infoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 0.25rem solid black;
    font-size: 2rem;
    background-color: #e4e6eb;
    color: #e4e6eb;
}

#currentSign {
    font-size: 4rem;
    font-family: sans-serif;
    font-weight: bold;
}

#playerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #e4e6eb;
}

#playPause {
    font-size: 8rem;
}

#autoRepeatIcon {
    color: green;
}