* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: monospace;
}

button {
    font-size: 2.5rem;
    color: white;
    background-color: transparent;
    padding: 0.25rem;
}

button:hover, button:active {
    color: green;
    cursor: pointer;
}

video {
    max-width: 100%;
}

#tabsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.75rem;
    border-bottom: 0.1rem solid white;
}

#tabCodeToSign {
    color: green;
}

#tabCodeToSign, #tabSignToCode {
    font-size: 2.5rem;
    display: flex;
}

#tabCodeToSign i, #tabSignToCode i {
    display: inline-block;
}

#codeToSignArrow, #signToCodeArrow {
    padding: 0 0.85rem;
}

#verticalLine {
    border-left: 0.1px solid white;
    height: 4.5rem;
}

#timeContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    font-size: 2rem;
}

.infoTimeToggle {
    cursor: default;
}

#speedContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 13rem;
}

#slower, #faster {
    font-size: 2rem;
}

#videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#playerMainContainer, #playerInfoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
}

#playPause {
    font-size: 5rem;
}

#autoRepeatIcon {
    color: green;
}

#playerInfoContainer {
    border-top: 0.1rem solid white;
}

#info {
    font-size: 2rem;
    margin-left: 1rem;
}

#currentSign {
    font-size: 2.5rem;
    font-weight: bold;
    cursor: default;
}

#otherActionsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#addToCode {
    opacity: 0;
    cursor: default;
}
